@import '../../../app/_variables.scss';

.navbar {
    padding: 2rem 2rem;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    position: fixed;
    top: 0;
    // mix-blend-mode: difference;
    z-index: 999999;
    transition: 0.4s ease-in-out;

    .toplayer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;

    }

    .navbtnlist {
        position: relative;
        /* Required to anchor the absolute slider */
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: $cream;
        // border-bottom: 0.1rem solid hsl(35, 19%, 17%, 0.3);
        border-radius: 10rem;
        padding: 0.4rem;
        box-shadow: hsla(35, 19%, 2%, 0.4) 0px 18px 100px 0px;
        width: max-content;
        z-index: 1;

        /* The sliding background circle/pill */


        .slider {
            $offset: 0.24rem;
            position: absolute;
            top: $offset;
            bottom: $offset;
            left: $offset;
            /* Exactly half width minus the padding offset so it fits perfectly inside */
            width: calc(50% - $offset);
            background-color: hsl(35, 19%, 17%);
            border-radius: 20rem;
            /* Cubic-bezier adds a nice slight 'snap' to the slide */
            transition: transform 0.25s cubic-bezier(0.25, 1, 0.5, 1);
            z-index: 1;
        }

        .btn {
            position: relative;
            flex: 1;
            /* Forces both buttons to take up exactly 50% of the space evenly */
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;

            color: #000;
            // text-transform: uppercase;
            font-weight: 500;
            // letter-spacing: 0.02rem;
            font-size: 1.36rem;
            line-height: 100%;
            padding: 2rem 1.8rem;
            transition: color 0.3s ease-in-out;
            text-decoration: none;

            /* Ensure the text is placed higher than the slider */
            z-index: 2;
            font-family: $font-body;
        }

        /* Toggles the text color smoothly when the dark slider moves underneath */
        .activeText {
            color: #fff;
        }
    }
}